@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-cream text-coffee font-sans antialiased;
  }

  h1, h2, h3, h4, h5 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Remove seta dos selects nativos para estilizar */
  .select-custom {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
